@model LibApp_Gr3.ViewModels.CustomerDetailsViewModel

@{
    ViewBag.Title = Model.Customer.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>Name:  @Model.Customer.Name</li>
    <li>Newsletter Subscribed: @Model.Customer.HasNewsletterSubscribed.ToString()</li>
</ul>

@if (Model.CanEdit)
{
    <a class='btn btn-secondary' asp-route-id="@Model.Customer.Id" asp-action="Form">Edit</a>
}